<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="id.co.evolution.financefy">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_finanancefy"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity
            android:name=".activity.SwitchThemeActivity"
            android:exported="false"
            android:label="@string/switch_theme"
            android:configChanges="uiMode"
            />
        <activity
            android:name=".activity.CreateSavingsTargetActivity"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="uiMode"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".activity.CreateSavingsProgressActivity"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="uiMode"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".activity.CreateFinanceActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="uiMode"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.UpdateFinanceActivity"
            android:configChanges="uiMode"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".activity.UpdateSavingsTargetActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="uiMode"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".activity.UpdateSavingsActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="uiMode"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".MainActivity"
            android:configChanges="uiMode"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>